body{
    background-image: linear-gradient(#3391D1, #d8dcdd);
}

.container{
    /* background-color: #d8dcdd2c; */
    min-height: 300px;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}

header{
    border: 2px solid rgba(255, 255, 255, 0.717);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.717);
}

header h1{
    font-family: 'Philosopher', sans-serif;
    font-size:2.5em;
}

header > h1
{
    text-align: center;  
    margin-bottom: 20px;
    margin-top: 10px;
}

header p{
    font-family: 'Mulish', sans-serif;
    font-size: 1em;
    padding: 0 40px;
    margin-bottom: 10px;
    line-height: 1;
}

form h1{
    margin-left:20px;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.5em;
    margin-bottom: 10px;
    /* display: inline; */
}

.button{
    background-color:#3391D1;
    color:white;
    font-family: 'Mulish', sans-serif;
    padding: 15px 30px;
    display: inline-block;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.055);
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 15px;
}


.button:hover{
    background-color:#beb2ada9;
    color:black;
    transition: 1;
    font-weight: 700;
}

 .tutorial{
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #d8dcdd;
    color: #3391D1;
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px;
    border-radius: 7px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.228);
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 10px;
    border-color: rgba(255, 222, 173, 0);
    box-shadow: none;
}

.tutorial:hover{
    margin-left: 40px;
    margin-bottom: 20px;
    background-color: #d8dcdd82;
    color: #3391D1;
    font-family: 'Mulish', sans-serif;
    padding: 10px 20px;
    border-radius: 7px;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.228); */
    text-align: center;
    font-size: 0.8em;
    font-weight: 700;
    margin-top: 10px;
    border-color: rgba(255, 255, 255, 0.428);
    box-shadow: none;
    transition: 0.8s;
}

.submit{
    margin: 20px 0;
    text-align: center;
}

.pointer:hover{
    cursor: pointer;
}

label{
    display: inline;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;  
}

.radio, .checkbox{
    margin-left: 30px;
    margin-bottom: 10px;
}

input[id="1st-one-chose-only"]{
    display: inline;
}

input{
    padding-left: 20px;
}

textarea {
    padding: 12px 15px;
    width: 100%;
    font-family: 'Mulish', sans-serif;
    font-size: 1.5em;
    box-sizing: border-box;
    border-radius: 4px; 
}

.own-answear{
    padding: 0 30px;
    padding-top: 10px;
}

.input-wrapper{
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.717);
    padding: 20px 0px;
    border:#d8dcdd solid 2px;
    border-radius: 15px;

}

select[id="gender"]{
    margin-left:20px;
    margin-top: 5px;
    font-size:15px;
}

option{
    font-size: 1em;
}

.modal-body, .modal-title{
    color: black;     
}

.modal-title{
    font-weight: 700;
}

button, .btn{
    border-color:rgba(255, 255, 255, 0);
}

/* Pingvin képek */
img{
    height: 1.5em;
    width: 1.5em;
    margin-left: 10px;
}

.radios{
    margin-top: 10px;
}

.block{
    display: block;
    margin-top: 10px;
}